{% extends "templates/customized_web.html" %}

{% block content %}
    <style>
    .step_button{
        padding: 10px;
        font-size:10px;
    }
    .user_section{
        margin-bottom:40px;
    }
    .rows{
        padding-top:10px;
    }
    .part_title{
        font-weight:bold;
        color:#FF4706;
    }
    .bold_class{
        font-weight: bold;
    }
    .not_bold{
        font-weight: normal;
    }
    #results_header_section{
        background-color:#F8F9FA;
    }   

    .form-control{
        width:50%;
        font-size:15px;
    } 

    </style>

    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            MAIL: <a href="#">email@somalilandprototype.com</a>
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <p>PHONE: <span>+252 XXX XXX XXX / +252 XXX XXX XXX </span></p>
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="/logout">Logout</a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar" style="background-color: #e6e6e6;">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                            
                        <div class="site-branding d-flex align-items-center">
                                
                           <a class="d-block" href="index.html" rel="home">
                               <img class="d-block" id="index_logo"src="assets/somaliland/images/somaliland_logo.png" alt="logo">
                              
                            </a>
                            <h1 style="font-weight:bold">
                                &nbsp;  Somaliland Aid Flow Management System
                            </h1>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li ><a href="/">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact</a></li>
                                <li class="current-menu-item"><a href="#">Profile</a></li>
                                <li><a href="/desk">Desk</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->
                        <hr>
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <!-- the body section -->
    <div class="container" style="background-color: #e6e6e6; padding-bottom: 40px;min-height: 450px;"  >
        <hr>
        <h3 class="bold_class">Instruction: </h3>

        <!-- this is the form div section -->
        <div id="formDiv">
        <p>Enter details of your organization in the fields below </p>
            <label for="organization_name">Organization Name</label>
            <input type="text" class="form-control" id="organization_name" placeholder="Enter Your Organization Name"  required>
            <label for="organization_acronym">Organization Acronym</label>
            <input type="text" class="form-control" id="organization_acronym" placeholder="Enter Your Organization Acronym"  required>
            <label for="submit_button">Click on Button To Find Matches</label></br>
            <button type="submit" class="" id="submit_button" onclick="collectValues()">Find Matches</button>
        </div>

        <!-- this is the results div section -->
        <div id="resultsDiv">
            <p >If your organization matches any of the organizations below tick against it</p>
            <p id="results_instruction"> </p>
            <h3 class="bold_class">Found Matches: <span id="number_of_matches"></span><h3>
            <hr>

            <!-- this is where the results will be added -->
            <div id="actual_results_div">
            </div>

            <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="" id="try_again" onclick="try_search_again()">Try Again</button>
                </div>
                <div class="col-md-3">
                        <button type="submit" class="" id="try_again" onclick="redirect_to_new()" style=>Did Not Find a Match</button>
                </div>
                
            </div>
            

        </div>

        <!-- this is the new organiation div -->
        <div id="newOrganizationDiv">
            
            <label for="organization_name_new">Organization Name</label>
            <input type="text" class="form-control" id="organization_name_new">

            <label for="organization_acronym_new">Organization Acronym</label>
            <input type="text" class="form-control" id="organization_acronym_new">
            
            <div class="form-group">
                <label for="organization_type_select">Organization Type (Select One)</label>
                <select class="form-control" id="organization_type_select" style="height:35px;" >
                </select>
            </div>

            <!-- language Selection div -->
            <div id="language_select_div">
                <label for="language_select">Language (Select one)</label>
                <select class="form-control" id="language_select" style="height:35px;"  >
                    <option></option>
                    <option>English</option>
                    <option>Somali</option>
                </select>
            </div>
        

            <button type="submit" onclick="confirmSelection()">Confirm Selection</button>
            
        </div>
    </div>


    <!-- the section below is the footer section -->
    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <h2 ><a class="foot-logo" href="#"><img src="assets/somaliland/images/somaliland_logo.png" alt="" style="height:100px;width:100px;"></a></h2>

                            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p>

                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <h2>Useful Links</h2>

                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">NDp</a></li>
                        </ul>
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-latest-news">
                            <h2>Explore</h2>

                            <ul>
                                <li>
                                    <h3><a href="#">Completed Projects</a></h3>
                                    <div class="posted-date">MArch 12, 2018</div>
                                </li>

                                <li>
                                    <h3><a href="#">Ongoing Projects</a></h3>
                                    <div class="posted-date">2019</div>
                                </li>

                                <li>
                                    <h3><a href="#">Proposed Projects</a></h3>
                                    <div class="posted-date">2019</div>
                                </li>
                            </ul>
                        </div><!-- .foot-latest-news -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+252 XXXXXXXXXX</span></li>
                                <li><i class="fa fa-envelope"></i><span>example@somalilandaidflows.com</span></li>
                                <li><i class="fa fa-map-marker"></i><span>Str. no XXX,Hargeisa, Somalilaland</span></li>
                            </ul>
                        </div><!-- .foot-contact -->

                        <div class="subscribe-form">
                            <form class="d-flex flex-wrap align-items-center">
                                <input type="email" placeholder="Your email">
                                <input type="submit" value="send">
                            </form><!-- .flex -->
                        </div><!-- .search-widget -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Powered by Upande Ltd | Special Attribution to Colorlib <i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank">Colorlib</a><script>document.write(new Date().getFullYear());</script>&copy;
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->


    <!-- replace remote cdn with local scripts files-->
<script type='text/javascript' src='/report_assets/jquery.js'></script>
<script src="/report_assets/bootstrap_3.4.0.min.js"></script>
<script src="/report_assets/twbsPagination.min.js"></script>
<script type="text/javascript" src="/report_assets/mdboostrap_4.8.8.min.js"></script>
<script type="text/javascript" src="/report_assets/mdboostrap_4.8.8.min.js"></script>
<script>

// var arguments = {sector:"All Sectors",type:"All Organization Types",location:"All Locations",status:"All Statuses"}
var url = "/api/method/slaims.www.profile_1.get_user"
// var report_url = url +JSON.stringify(arguments)

$.ajax({
	url:url,
    async: true,
    dataType: 'json',
    success: function (response) {
        if(response.message == "Guest"){
            redirect_url("/login#login")
        }else{
            // user exists in the system get profile

        }
       
    },
    cache:false
});

// hide unwanted sections
hide_unwanted_section()

// on submit get the values for acronym and organization
function collectValues(){
    var organization_name_value = document.getElementById("organization_name").value
    var acronym_value = document.getElementById("organization_acronym").value
    var org_arguments = {"organization_name":organization_name_value,"organization_acronym":acronym_value}
    var search_url = "/api/method/slaims.www.find_organization.find_simalar_organization?args="
    var search_url_with_args = search_url +JSON.stringify(org_arguments)
   
    // check if both values are given
    if(organization_name_value){
        // name is given check acronym
        if(acronym_value){
            //call the fetch function
            fetch(search_url_with_args)
            .then(res => res.json())//response type
            .then(data => processResults(data)); //log the data;

        }else{
            alert("Please give the acronym of this organization in order to continue")
        }
    }else{
        alert("Pleae enter the name of the organization in order to continue")
    }
}


function processResults(data){
    // hide the form section
    hide_unhide_form(false,"formDiv")
    // unhide the results section
    hide_unhide_form(true,"resultsDiv")
    if(data.message.length > 0){
        document.getElementById("number_of_matches").innerHTML = data.message.length
        // clear the div first
      
        $('#actual_results_div').empty();

        // loop through the results
        data.message.forEach(function(v,i){
            // add results
            var append_html = "<div class='row'> \
                <div class='col-md-8'> \
                    <h4>"+v+"</h4> \
                </div> \
                <div class='col-md-4'> \
                    <button>Select Organization</button> \
                </div>\
            </div>"

            $('#actual_results_div').append( append_html );
            $('#actual_results_div').append( "<hr>" );
        })
        
    }else{
        document.getElementById("number_of_matches").innerHTML = 0;
    }
}

function hide_unhide_form(action,given_div) {

  var x = document.getElementById(given_div);
  
  if (action) {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function try_search_again(){
    hide_unhide_form(true,"formDiv")
    hide_unhide_form(false,"resultsDiv")
    
}

function hide_unwanted_section(){
    hide_unhide_form(false,"resultsDiv")
    // unhide the organization details section
    hide_unhide_form(false,"newOrganizationDiv")
}

function redirect_to_new(){
    // hide the form section
    hide_unhide_form(false,"formDiv")
    // hide results dive
    hide_unhide_form(false,"resultsDiv")

    // hide the language section
    hide_unhide_form(false,"language_select_div")

    // get organization type
    var organization_type_url = "/api/method/slaims.www.find_organization.get_organization_type"
    fetch(organization_type_url)
    .then(res => res.json())//response type
    .then( data => place_correct_type(data)
    ); 
}


function place_correct_type(data){

    // organization_name_new


    // clear the div first and add the empty option
    $('#organization_type_select').empty()
    $('#organization_type_select').append("<option></option>");

    data.message.forEach(function(v,i){
        if(v != "Other"){
            $('#organization_type_select').append("<option>"+v+"</option>");
        }
       
    })

    document.getElementById("organization_name_new").value = document.getElementById("organization_name").value
    document.getElementById("organization_acronym_new").value = document.getElementById("organization_acronym").value

    // make the new names and new acronym fields readonly
    $("#organization_name_new").prop("readonly", true);
    $("#organization_acronym_new").prop("readonly", true);

    hide_unhide_form(true,"newOrganizationDiv")
} 


function confirmSelection(){
    if(document.getElementById("organization_type_select").value){
        if(document.getElementById("organization_type_select").value != "Local NGO"){


            if(confirm("You are about to register a new organization name. Do You Want to Continue?")){
                var new_org_name =  document.getElementById("organization_name_new").value
                var new_org_acronym =  document.getElementById("organization_acronym_new").value
                var new_org_type = document.getElementById("organization_type_select").value
                var new_org_args = {"new_org_name":new_org_name,"new_org_acronym":new_org_acronym,"new_org_type":new_org_type}

                var find_or_create_url =  "/api/method/slaims.www.find_organization.find_create_org_form?args="
                var find_or_create_url_with_args = find_or_create_url +JSON.stringify(new_org_args)

                fetch(find_or_create_url_with_args)
                .then(res => res.json())
                .then(data => processForm(data,new_org_type));
            }else{
                // redirect to initia page
                redirect_url("/profile_1")
            }
        }else{
            if(document.getElementById("language_select").value){
                var new_org_name =  document.getElementById("organization_name_new").value
                var new_org_acronym =  document.getElementById("organization_acronym_new").value
                var new_org_type = document.getElementById("organization_type_select").value
                var new_org_language = document.getElementById("language_select").value
                var new_org_args = {"new_org_name":new_org_name,"new_org_acronym":new_org_acronym,"new_org_type":new_org_type,"language":new_org_language}

                var find_or_create_url =  "/api/method/slaims.www.find_organization.find_create_org_form?args="
                var find_or_create_url_with_args = find_or_create_url +JSON.stringify(new_org_args)

                fetch(find_or_create_url_with_args)
                .then(res => res.json())
                .then(data => processForm(data,new_org_type));
                

            }else{
                alert("Please select a language in order to continue")
            }
        }
    }else{
        // throw and error
        alert("Please select an organizaton type in order to continue")
    }
}


function processForm(response,new_org_type){

    if(response.message.status){
        // construct the url based on the selected organization types
        var new_org_form_url = "/desk#Form/"
        // console.log(new_org_type)

        new_org_type.split(" ").forEach(function(v,i){
            new_org_form_url+=v+"%20"
        })

        if(new_org_type == "Local NGO"){
            new_org_form_url+= "Form%20"
            new_org_form_url+= document.getElementById("language_select").value
            new_org_form_url += "/"
            new_org_form_url+=response.message["form_name"]
        }else{
            new_org_form_url+= "Form/"
            new_org_form_url+=response.message["form_name"]
        }

        // redirect to the form url 
        redirect_url(new_org_form_url)
    }else{
        alert("The Given Organization Name Already Exists")
        // redirect to initia page
        redirect_url("/profile_1")
    }
    
}

$('#organization_type_select').change(function(){
    var selected_org_type =  document.getElementById("organization_type_select").value
    if(selected_org_type == "Local NGO"){
        // unhide the languge field
        hide_unhide_form(true,"language_select_div")
    }else{
        // hide the language selection div
        hide_unhide_form(false,"language_select_div")
    }
});

// function that redirects the user to a specific page based on the given url
function redirect_url(new_url){
    // allow the user to view page
    location.replace(new_url)
}


// function to_form(action){
//     if(action == "Registration"){
//         redirect_url("/desk#Form/Organization%20Form/New%20Organization%20Form%201")
//     }else if(action == "Renew"){
//         redirect_url("/desk#Form/Organization%20Form/Organization-Form.00187")
//     }else if(action == "Update"){
//         redirect_url("/desk#Form/Organization%20Form/Organization-Form.00187")
//     }
   
// }

</script>


{% endblock%}