{% extends "templates/customized_web.html" %}

{% block content %}
    <style>
    .step_button{
        padding: 10px;
        font-size:10px;
    }
    .user_section{
        margin-bottom:40px;
    }
    .rows{
        padding-top:10px;
    }
    .part_title{
        font-weight:bold;
        color:#FF4706;
    }
    .bold_class{
        font-weight: bold;
    }
    .not_bold{
        font-weight: normal;
    }

    </style>

    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            MAIL: <a href="#">email@somalilandprototype.com</a>
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <p>PHONE: <span>+252 XXX XXX XXX / +252 XXX XXX XXX </span></p>
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="/desk">Home</a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar" style="background-color: #e6e6e6;">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                            
                        <div class="site-branding d-flex align-items-center">
                                
                           <a class="d-block" href="index.html" rel="home">
                               <img class="d-block" id="index_logo"src="assets/somaliland/images/somaliland_logo.png" alt="logo">
                              
                            </a>
                            <h1 style="font-weight:bold">
                                &nbsp;  Somaliland Aid Flow Management System
                            </h1>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li ><a href="/desk">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact</a></li>
                                <li class="current-menu-item"><a href="#">Profile</a></li>
                                <li><a href="/desk">Desk</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->
                        <hr>
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <!-- the body section -->
    <div class="container" style="background-color: #e6e6e6;">

        <!-- navigation bar section -->
        <!-- <div class="row user_section" >
                <div class="col-md-12">
                    <h4 style="font-weight:bold;color:#FF4706;">Part 1: Organization Details -> Part 2: Project Details 
                        -> Part 3: Annual Plan ->Part 3: Annual Report -> Part 3: Annual Disbursement
                    </h4>
                </div>
            </div> -->

        <div class="row">
            <div class="col-md-4">
                <h3 class="bold_class">Welcome <span class="not_bold" , id="username_holder"></span></h3>
            </div>
        </div>

        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="font-weight:bold;color:#FF4706;" onclick="redirect_url('profile_1')">Part 1: Organization Details  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirect_url('profile_2')">Part 2: Project Details</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirect_url('profile_3')">Part 3: Annual Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirect_url('profile_4')">Part 4: Annual Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirect_url('profile_5')">Part 5: Annual Disbursement</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
                </ul>
            </div>
            </nav>
        </div>

        <!-- organization details section -->
        <div class="row user_section" style="padding-top: 30px;" >
            <div class="col-md-12">
                <div class="row rows" >
                    <div class="col-md-10 ">
                        <h3 class="part_title">Part 1: Organization Details</h3>
                    </div>
                    <div class="col-md-2">
                        <h3 class="part_title" >Status</h3>
                    </div>
                </div>

                <div class="row rows" >
                    <div class="col-md-4">
                        <!-- add organization details -->
                        <h4 class="bold_class">Name of Organization:<span class="not_bold", id="organization_name" ></span></h4>
                        <h4 class="bold_class">Acronym:<span class="not_bold", id="organization_acronym" ></span></h4>
                        <!-- <h4 class="bold_class">Status:<span class="not_bold", id="organization_status" ></span></h4> -->
                        
                    </div>
                    <div class="col-md-6">
                        <!-- add buttons -->
                        
                        <button type="button" class="btn btn-secondary btn-sm step_button" id="register_button" onclick="to_form('Registration')">Register Organization</button>
                        <button type="button" class="btn btn-success btn-sm step_button" id="renew_button" onclick="to_form('Renew')">Renew Organization</button>
                        <button type="button" class="btn btn-info btn-sm step_button" id="update_button" onclick="to_form('Update')">Update Organization</button>
                        
                    </div>
                    <div class="col-md-2">
                        <!-- add check box -->
                        <h4><span class="not_bold", id="organization_status" ></span></h4>
                        <!-- <input type="checkbox" aria-label="Checkbox for following text input"></input> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- next and previous button pages -->
        <div class="row user_section rows" style="background-color:#F8F9FA; padding-bottom:30px;padding-top:20px;" >
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="button" class="btn  btn-sm step_button" style="background-color: #FF4706;color:#FFFFFF;"  onclick="redirect_url('profile_1')">First Part</button>
                <button type="button" class="btn btn-sm step_button" style="float:right; background-color: #FF4706;color:#FFFFFF;" onclick="redirect_url('profile_2')" >Next Part</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>


    <!-- the section below is the footer section -->
    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <h2 ><a class="foot-logo" href="#"><img src="assets/somaliland/images/somaliland_logo.png" alt="" style="height:100px;width:100px;"></a></h2>

                            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p>

                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <h2>Useful Links</h2>

                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">NDp</a></li>
                        </ul>
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-latest-news">
                            <h2>Explore</h2>

                            <ul>
                                <li>
                                    <h3><a href="#">Completed Projects</a></h3>
                                    <div class="posted-date">MArch 12, 2018</div>
                                </li>

                                <li>
                                    <h3><a href="#">Ongoing Projects</a></h3>
                                    <div class="posted-date">2019</div>
                                </li>

                                <li>
                                    <h3><a href="#">Proposed Projects</a></h3>
                                    <div class="posted-date">2019</div>
                                </li>
                            </ul>
                        </div><!-- .foot-latest-news -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+252 XXXXXXXXXX</span></li>
                                <li><i class="fa fa-envelope"></i><span>example@somalilandaidflows.com</span></li>
                                <li><i class="fa fa-map-marker"></i><span>Str. no XXX,Hargeisa, Somalilaland</span></li>
                            </ul>
                        </div><!-- .foot-contact -->

                        <div class="subscribe-form">
                            <form class="d-flex flex-wrap align-items-center">
                                <input type="email" placeholder="Your email">
                                <input type="submit" value="send">
                            </form><!-- .flex -->
                        </div><!-- .search-widget -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Powered by Upande Ltd | Special Attribution to Colorlib <i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank">Colorlib</a><script>document.write(new Date().getFullYear());</script>&copy;
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->


    <!-- replace remote cdn with local scripts files-->
<script type='text/javascript' src='/report_assets/jquery.js'></script>
<script src="/report_assets/bootstrap_3.4.0.min.js"></script>
<script src="/report_assets/twbsPagination.min.js"></script>
<script type="text/javascript" src="/report_assets/mdboostrap_4.8.8.min.js"></script>
<script>


// var arguments = {sector:"All Sectors",type:"All Organization Types",location:"All Locations",status:"All Statuses"}
var url = "/api/method/slaims.www.profile_1.get_user"
// var report_url = url +JSON.stringify(arguments)

$.ajax({
	url:url,
    async: true,
    dataType: 'json',
    success: function (response) {
        if(response.message == "Guest"){
            redirect_url("/login#login")
        }else{
            // user exists in the system get profile
            get_profile(response.message)

        }
       
    },
    cache:false
});


function redirect_url(new_url){
    // allow the user to view page
    location.replace(new_url)
}


function get_profile(username){
    var prof_arguments = {"username":username}
    var profile_url = "/api/method/slaims.www.profile_1.get_user_profile?args="
    var profile_url_arguments = profile_url +JSON.stringify(prof_arguments)

    $.ajax({
        url:profile_url_arguments,
        async: true,
        dataType: 'json',
        success: function (response) {
            if(response.message.status){
                // set values for various fields in organization details section
                var org_doc = response.message.organization
                document.getElementById('username_holder').innerHTML = response.message.user_doc.full_name
                document.getElementById('organization_name').innerHTML = org_doc.full_name_of_the_organization;
                document.getElementById('organization_acronym').innerHTML = org_doc.acronym;
                document.getElementById('organization_status').innerHTML = org_doc.status;

                // hide/ unhide action buttons
                // hide the register button
                document.getElementById('register_button').style.visibility = 'hidden';

                if(org_doc.status == "Registration Expired"){
                    // show the renew button 
                    document.getElementById('renew_button').style.visibility = 'visible';
                    // hide update button
                    document.getElementById('update_button').style.visibility = 'hidden';
                }else{
                    // hide renew button
                    document.getElementById('renew_button').style.visibility = 'hidden';
                }



            }else{
                // set values for various fields in organization details section
                document.getElementById('username_holder').innerHTML = response.message.user_doc.full_name
                document.getElementById('organization_name').innerHTML = "Not Registered";
                document.getElementById('organization_acronym').innerHTML = "Not Registered";
                document.getElementById('organization_status').innerHTML = "Not Registered";

                // unhide the register button
                document.getElementById('register_button').style.visibility = 'visible';
                // hide renew and update button
                document.getElementById('renew_button').style.visibility = 'hidden';
                document.getElementById('update_button').style.visibility = 'hidden';
            }
        }
    });
}


function to_form(action){
    if(action == "Registration"){
        redirect_url("/find_organization")
    }else if(action == "Renew"){
        redirect_url("/desk#Form/Organization%20Form/Organization-Form.00187")
    }else if(action == "Update"){
        redirect_url("/desk#Form/Organization%20Form/Organization-Form.00187")
    }
   
}

</script>


{% endblock%}