{% extends "templates/customized_web.html" %}

{% block content %}
    <style>
    .step_button{
        padding: 10px;
        font-size:10px;
    }
    .user_section{
        margin-bottom:40px;
    }
    .rows{
        padding-top:10px;
    }
    .part_title{
        font-weight:bold;
        color:#FF4706;
    }
    .bold_class{
        font-weight: bold;
    }
    .not_bold{
        font-weight: normal;
    }
    .row_style{
        background-color: #E6E6E6;
    }
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top:16px solid #FF4706;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin: auto;
    }

    /* Safari */
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

    a{
        color:blue;
    }

    </style>
<body></body>
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            <!-- MAIL: <a href="#">email@somalilandprototype.com</a> -->
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <!-- <p>PHONE: <span>+252 XXX XXX XXX / +252 XXX XXX XXX </span></p> -->
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="/desk">Home</a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar" style="background-color: #e6e6e6;">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                            
                        <div class="site-branding d-flex align-items-center">
                                
                           <a class="d-block" href="index.html" rel="home">
                               <img class="d-block" id="index_logo"src="assets/somaliland/images/somaliland_logo.png" alt="logo">
                              
                            </a>
                            <h1 style="font-weight:bold">
                                &nbsp;  Somaliland Aid Flow Management System
                            </h1>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li ><a href="/desk">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact</a></li>
                                <li class="current-menu-item"><a href="#">Profile</a></li>
                                <li><a href="/desk">Desk</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->
                        <hr>
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <!-- help person details -->
    <div class="container" style="min-height: 500px;">
        <div class="well">
            <div class="col-md-12 align-center" id="content_div">
                <h3 class="part_title">For help contact:</h3>
                <div id="table_div"></div>
                <!-- <div class="loader"></div> -->
                
                <p>Make an 
                    <a href="/desk#List/Inquiry/List" style="color:blue;font-weight: bold;">
                        Inquiry
                    </a>
                </p>
                <P>Get more information by reading the 
                    <a href="" style="color:blue;">User Manual</a> or 
                    <a href="" style="color:blue;">Frequently Asked Questions(FAQs)</a>.
                </P> 
            </div>
        </div>    
    </div>
  

    <!-- the section below is the footer section -->
    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <h2 ><a class="foot-logo" href="#"><img src="assets/somaliland/images/somaliland_logo.png" alt="" style="height:100px;width:100px;"></a></h2>

                            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p>

                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <h2>Useful Links</h2>

                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">NDp</a></li>
                        </ul>
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-latest-news">
                            <h2>Explore</h2>

                            <ul>
                                <li>
                                    <h3><a href="#">Completed Projects</a></h3>
                                    <div class="posted-date">MArch 12, 2018</div>
                                </li>

                                <li>
                                    <h3><a href="#">Ongoing Projects</a></h3>
                                    <div class="posted-date">2019</div>
                                </li>

                                <li>
                                    <h3><a href="#">Proposed Projects</a></h3>
                                    <div class="posted-date">2019</div>
                                </li>
                            </ul>
                        </div><!-- .foot-latest-news -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+252 XXXXXXXXXX</span></li>
                                <li><i class="fa fa-envelope"></i><span>example@somalilandaidflows.com</span></li>
                                <li><i class="fa fa-map-marker"></i><span>Str. no XXX,Hargeisa, Somalilaland</span></li>
                            </ul>
                        </div><!-- .foot-contact -->

                        <div class="subscribe-form">
                            <form class="d-flex flex-wrap align-items-center">
                                <input type="email" placeholder="Your email">
                                <input type="submit" value="send">
                            </form><!-- .flex -->
                        </div><!-- .search-widget -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Powered by Upande Ltd | Special Attribution to Colorlib <i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank">Colorlib</a><script>document.write(new Date().getFullYear());</script>&copy;
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->


    <!-- replace remote cdn with local scripts files-->
<script type='text/javascript' src='/report_assets/jquery.js'></script>
<script type="text/javascript" src="/report_assets/mdboostrap_4.8.8.min.js"></script>
{% endblock%}
