{% extends "templates/customized_web.html" %}

{% block content %}
    <style>
    .step_button{
        padding: 10px;
        font-size:10px;
    }
    .user_section{
        margin-bottom:40px;
    }
    .rows{
        padding-top:10px;
    }
    .table_title{
        font-weight:bold;
        color:#58AFE0;
    }
    .bold_class{
        font-weight: bold;
    }
    .not_bold{
        font-weight: normal;
    }

    #main_body_container{
        min-height: 500px;
    }

    .class_red{
        background-color:red;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top:16px solid #FF4706;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin-left: auto;
    }
        
    #body_content a:hover{ 
        color:#FF4706; 
        background: gray; 
    } 

    /* Safari */
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    #loader{
        margin-right:50%;
        margin-top:10%;
    }

    </style>

    <head>
        <title>MoPND Interface</title>
        <script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
        <script src="/assets/frappe/js/lib/socket.io.min.js"></script>
        

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">

    </head>

    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            <!-- MAIL: <a href="#">email@somalilandprototype.com</a> -->
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <!-- <p>PHONE: <span>+252 XXX XXX XXX / +252 XXX XXX XXX </span></p> -->
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="/">Home</a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar" style="background-color: #e6e6e6;">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                            
                        <div class="site-branding d-flex align-items-center">
                                
                        <a class="d-block" href="/" rel="home">
                            <img class="d-block" id="index_logo"src="assets/somaliland/images/somaliland_logo.png" alt="logo">
                            
                            </a>
                            <h2 style="font-weight:bold">
                                &nbsp;  Somaliland Aid Flow Management System
                            </h2>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li ><a href="/desk">Desk</a></li>
                                <li><a href="https://docs.google.com/document/d/1NmbnJcodimdHNZXDnmFBGkIITzrNHoFCHfetKGhA7dw/edit?usp=sharing">Admin Manual</a></li>
                                <li class="current-menu-item"><a href="#">MoPND Interface</a></li>
                                <li><a href="/report_home">Reports</a></li>

                            </ul>
                        </nav><!-- .site-navigation -->
                        <hr>
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <!-- the body section -->
    <div class="container" style="background-color: #e6e6e6;" id="main_body_container">     
       <div class="row">
            <div class="col-md-4"></div>
        </div>
        <!-- add the table here -->
        <hr>
        <div id="loader_column"></div>
        <table id="mopndInterfaceTable" class="table table-striped" cellspacing="0" align="center" width="100%">
                <thead>
                <tr>
                    <th scope="col" class="table_title">Name</th>
                    <th scope="col" class="table_title">Organization</th>
                    <th scope="col" class="table_title">Project</th>
                    <th scope="col" class="table_title">Annual Plan</th>
                    <th scope="col" class="table_title">Annual Report</th>
                    <th scope="col" class="table_title">Non Project Related Expenditure</th>
                </tr>
                </thead>
                <tbody id="table_body" style="width:100%;">
                    <!-- add the table contents here using javascript -->
                </tbody>
        </table>
    </div>
    <!-- end of main body section -->

    <!-- the section below is the footer section -->
    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <h2 ><a class="foot-logo" href="#"><img src="assets/somaliland/images/somaliland_logo.png" alt="" style="height:100px;width:100px;"></a></h2>

                            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p>

                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <h2>Useful Links</h2>

                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">NDP</a></li>
                        </ul>
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-latest-news">
                            <h2>Explore</h2>

                            <ul>
                                <li>
                                    <h3><a href="#">Completed Projects</a></h3>
                                    <div class="posted-date">MArch 12, 2018</div>
                                </li>

                                <li>
                                    <h3><a href="#">Ongoing Projects</a></h3>
                                    <div class="posted-date">2019</div>
                                </li>

                                <li>
                                    <h3><a href="#">Proposed Projects</a></h3>
                                    <div class="posted-date">2019</div>
                                </li>
                            </ul>
                        </div><!-- .foot-latest-news -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+252 XXXXXXXXXX</span></li>
                                <li><i class="fa fa-envelope"></i><span>example@somalilandaidflows.com</span></li>
                                <li><i class="fa fa-map-marker"></i><span>Str. no XXX,Hargeisa, Somalilaland</span></li>
                            </ul>
                        </div><!-- .foot-contact -->

                        <div class="subscribe-form">
                            <form class="d-flex flex-wrap align-items-center">
                                <input type="email" placeholder="Your email">
                                <input type="submit" value="send">
                            </form><!-- .flex -->
                        </div><!-- .search-widget -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Powered by Upande Ltd | Special Attribution to Colorlib <i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank">Colorlib</a><script>document.write(new Date().getFullYear());</script>&copy;
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->
<script>
</script>
{% endblock%}
