{% extends "templates/customized_web.html" %}

{% block content %}
{% if user %}
    <style>
    .step_button{
        padding: 10px;
        font-size:10px;
    }
    .user_section{
        margin-bottom:40px;
    }
    .rows{
        padding-top:10px;
    }
    .part_title{
        font-weight:bold;
        color:#FF4706;
    }
    .bold_class{
        font-weight: bold;
    }
    .not_bold{
        font-weight: normal;
    }
    #results_header_section{
        background-color:#F8F9FA;
    }   

    .form-control{
        width:50%;
        font-size:15px;
    }

    </style>

    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            <!-- MAIL: <a href="#">email@somalilandprototype.com</a> -->
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <!-- <p>PHONE: <span>+252 XXX XXX XXX / +252 XXX XXX XXX </span></p> -->
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="/desk">Home</a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar" style="background-color: #e6e6e6;">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                            
                        <div class="site-branding d-flex align-items-center">
                                
                           <a class="d-block" href="index.html" rel="home">
                               <img class="d-block" id="index_logo"src="assets/somaliland/images/somaliland_logo.png" alt="logo">
                              
                            </a>
                            <h1 style="font-weight:bold">
                                &nbsp;  Somaliland Aid Flow Management System
                            </h1>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li ><a href="/desk">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact</a></li>
                                <li class="current-menu-item"><a href="#">Profile</a></li>
                                <li><a href="/desk">Desk</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->
                        <hr>
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <!-- the body section -->
    <div class="container" style="background-color: #e6e6e6;">

        <!-- navigation bar section -->
        <!-- <div class="row user_section" >
                <div class="col-md-12">
                    <h4 style="font-weight:bold;color:#FF4706;">Part 1: Organization Details -> Part 2: Project Details 
                        -> Part 3: Annual Plan ->Part 3: Annual Report -> Part 3: Annual Disbursement
                    </h4>
                </div>
            </div> -->

        <div class="row">
            <div class="col-md-4">
                <h3 class="bold_class">Welcome <span class="not_bold" , id="username_holder">{{user}}</span></h3>
            </div>
        </div>

        <!-- organization details section -->
        <div class="row user_section" style="padding-top: 30px;" >
            <div class="col-md-12">
                <h3>Please select your organization type in the select field below in order to continue</h3>
                <hr>
                <!-- add the organization types in selection field -->
        
                <!-- language Selection div -->
                <div id="organization_type_div">
                    <label for="language_select">Organization Type (Select one)</label>
                    <select class="form-control" id="organization_type_select" style="height:35px;"  >
                        <option></option>
                        {% if organization_types %}
                            {% for organization in organization_types %}
                                <option>{{organization.name}}</option>
                            {% endfor %}
                        {% endif%}
                    </select>
                </div>

                <!-- language Selection div -->
                <div id="language_select_div">
                    <label for="language_select">Language (Select one)</label>
                    <select class="form-control" id="language_select" style="height:35px;" onclick="select_language_function()" >
                        <option></option>
                        <option>English</option>
                        <option>Somali</option>
                    </select>
                </div>

                <label for="language_select">Click on the button below to confirm</label><br>
                
                <button type="submit" onclick="confirmSelection()">Confirm Selection</button>

            </div>
        </div>
    </div>


    <!-- the section below is the footer section -->
    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <h2 ><a class="foot-logo" href="#"><img src="assets/somaliland/images/somaliland_logo.png" alt="" style="height:100px;width:100px;"></a></h2>

                            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p>

                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <h2>Useful Links</h2>

                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">NDp</a></li>
                        </ul>
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-latest-news">
                            <h2>Explore</h2>

                            <ul>
                                <li>
                                    <h3><a href="#">Completed Projects</a></h3>
                                    <div class="posted-date">MArch 12, 2018</div>
                                </li>

                                <li>
                                    <h3><a href="#">Ongoing Projects</a></h3>
                                    <div class="posted-date">2019</div>
                                </li>

                                <li>
                                    <h3><a href="#">Proposed Projects</a></h3>
                                    <div class="posted-date">2019</div>
                                </li>
                            </ul>
                        </div><!-- .foot-latest-news -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+252 XXXXXXXXXX</span></li>
                                <li><i class="fa fa-envelope"></i><span>example@somalilandaidflows.com</span></li>
                                <li><i class="fa fa-map-marker"></i><span>Str. no XXX,Hargeisa, Somalilaland</span></li>
                            </ul>
                        </div><!-- .foot-contact -->

                        <div class="subscribe-form">
                            <form class="d-flex flex-wrap align-items-center">
                                <input type="email" placeholder="Your email">
                                <input type="submit" value="send">
                            </form><!-- .flex -->
                        </div><!-- .search-widget -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Powered by Upande Ltd | Special Attribution to Colorlib <i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank">Colorlib</a><script>document.write(new Date().getFullYear());</script>&copy;
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->

{% else %}
    <script>
    LANGUAGE='JavaScript'

        alert('You are not allowed to view this page.');
        window.location = '/desk';

    </script>

{% endif %}
    
<!-- replace remote cdn with local scripts files-->
<script type='text/javascript' src='/report_assets/jquery.js'></script>
<script src="/report_assets/bootstrap_3.4.0.min.js"></script>
<script src="/report_assets/twbsPagination.min.js"></script>
<script type="text/javascript" src="/report_assets/mdboostrap_4.8.8.min.js"></script>
<script>

// hide the language select field
document.getElementById('language_select_div').style.visibility = 'hidden';


// function that confirms the selection of an organization
function confirmSelection(){
    // check if the user has selected an organization
    if(document.getElementById('organization_type_select').value){
        // check if the user select local organization
        if(document.getElementById('organization_type_select').value == "Local NGO"){
            // unhide the language select field
            if(document.getElementById('language_select').value){
                // call the redirect function
                redirect_to_list()
            }else{
                // unhide the select function field
                document.getElementById('language_select_div').style.visibility = 'visible';
                alert('Now select you preffered language and confirm again')
            }
        }else{
            // call the redirect function
            redirect_to_list() 
        }
    }else{
        alert('Please select an organization type in order to continue')
    }
}

// function that is called when the language select field is clicked
function select_language_function(){
    console.log("clicked")
}

// var arguments = {sector:"All Sectors",type:"All Organization Types",location:"All Locations",status:"All Statuses"}
// var url = "/api/method/slaims.www.profile_1.get_user"
// var report_url = url +JSON.stringify(arguments)

// $.ajax({
// 	url:url,
//     async: true,
//     dataType: 'json',
//     success: function (response) {
//         if(response.message == "Guest"){
//             redirect_url("/login#login")
//         }else{
//             // user exists in the system get profile
//             get_profile(response.message)

//         }
       
//     }
// });


// function redirect_url(new_url){
//     // allow the user to view page
//     location.replace(new_url)
// }


// function get_profile(username){
//     var prof_arguments = {"username":username}
//     var profile_url = "/api/method/slaims.www.profile_1.get_user_profile?args="
//     var profile_url_arguments = profile_url +JSON.stringify(prof_arguments)

//     $.ajax({
//         url:profile_url_arguments,
//         async: true,
//         dataType: 'json',
//         success: function (response) {
//             if(response.message.status){
//                 // set values for various fields in organization details section
//                 var org_doc = response.message.organization
//                 document.getElementById('username_holder').innerHTML = response.message.user_doc.full_name
//                 document.getElementById('organization_name').innerHTML = org_doc.full_name_of_the_organization;
//                 document.getElementById('organization_acronym').innerHTML = org_doc.acronym;
//                 document.getElementById('organization_status').innerHTML = org_doc.status;

//                 // hide/ unhide action buttons
//                 // hide the register button
//                 document.getElementById('register_button').style.visibility = 'hidden';

//                 if(org_doc.status == "Registration Expired"){
//                     // show the renew button 
//                     document.getElementById('renew_button').style.visibility = 'visible';
//                     // hide update button
//                     document.getElementById('update_button').style.visibility = 'hidden';
//                 }else{
//                     // hide renew button
//                     document.getElementById('renew_button').style.visibility = 'hidden';
//                 }



//             }else{
//                 // set values for various fields in organization details section
//                 document.getElementById('username_holder').innerHTML = response.message.user_doc.full_name
//                 document.getElementById('organization_name').innerHTML = "Not Registered";
//                 document.getElementById('organization_acronym').innerHTML = "Not Registered";
//                 document.getElementById('organization_status').innerHTML = "Not Registered";

//                 // unhide the register button
//                 document.getElementById('register_button').style.visibility = 'visible';
//                 // hide renew and update button
//                 document.getElementById('renew_button').style.visibility = 'hidden';
//                 document.getElementById('update_button').style.visibility = 'hidden';
//             }
//         }
//     });
// }

// function to_form(action){
//     if(action == "Registration"){
//         redirect_url("/find_organization")
//     }else if(action == "Renew"){
//         redirect_url("/desk#Form/Organization%20Form/Organization-Form.00187")
//     }else if(action == "Update"){
//         redirect_url("/desk#Form/Organization%20Form/Organization-Form.00187")
//     }
   
// }

function redirect_to_list(){
	// get the value of type
	var org_type = document.getElementById("organization_type_select").value
    // construct the redirect url based on organization type
    var redirect_url = "/desk#Form/" 
    if(org_type != "Local NGO"){
        if(org_type == 'Multi-Lateral Organizations'){
            redirect_url += "MultiLateral%20Organization%20Form/New%20MultiLateral%20Organization%20Form%201"
        }
        if(org_type == 'Bi-lateral Organization'){
            redirect_url += 'Bilateral%20Organization%20Form/New%20Bilateral%20Organization%20Form%201'
        }
        if(org_type == 'UN system organization'){
            redirect_url += 'UN%20System%20Organization%20Form/New%20UN%20System%20Organization%20Form%201'
        }
        else{
         
        
        org_type.split(" ").forEach(function(i,v){
            if(i){
                redirect_url+= i
                redirect_url += "%20"
            }
        })
        }

        redirect_url += "Form/New%20"
        org_type.split(" ").forEach(function(i,v){
            if(i){
                redirect_url+= i
                redirect_url += "%20"
            }
        })
        redirect_url +="Form"
        
    }else if(org_type == "Local NGO"){
        org_type.split(" ").forEach(function(i,v){
            if(i){
                redirect_url+= i
                redirect_url += "%20"
            }
        })

        redirect_url += "Form%20"
        redirect_url += document.getElementById('language_select').value 
        redirect_url += "/New%20"

        org_type.split(" ").forEach(function(i,v){
            if(i){
                redirect_url+= i
                redirect_url += "%20"
            }
        })
        redirect_url +="Form%20"
        redirect_url += document.getElementById('language_select').value 
        
    }
	location.replace(redirect_url)
}

</script>


{% endblock%}