<!DOCTYPE html>
<!-- Built on Frappe. https://frappe.io/ -->
<html lang="en">
<head>
	
</head>
<body>
    <h1>List of Users</h1>
    <!-- {{custom_content}} -->

</body>
	
                
    <!-- <h1>List of Users</h1>
    {{custom_content}} -->

        <!-- {% for user in users %}
            <h4> {{user['name']}} </h4>
        {% endfor %} -->
                    
	<!-- {% endblock %} -->
               
</html>
